.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.burger{
    display: none;
}
.menu{
    display:flex;
}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;

}

body{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background: linear-gradient(#13181d, #20212e, #341b47)   ;

}
.navbar h1{
    all: unset;
    color: violet;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}
.navbar ul button {
    background-color: #160225;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid violet;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}
.navbar ul button:hover {
    color: #160225;
    background-color: violet;
    border: 1px solid violet;
}
a{
    text-decoration: none;
    color: white;
}

.divgauche img{
    width: 150px;
    height: 150px;
}

.divdroite img{
    width: 70%;
}

.divgauche {
   width: 50%;
}

.divdroite {
    width: 50%;
    display: flex;
    justify-content: center;
        align-items: start;

}

.section1{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
.section1 button{
    color: #160225;
    background-color: violet;
    border: 1px solid violet;
   
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}
.section1 button:hover {
    background-color: #160225;
    color: white;
    border: 1px solid violet;
}
.images{
    display: flex;
    gap: 10px;
    margin-top: 2rem;
}

.image {
   background-color: #333c45;
   border-radius: 10px;
   padding: 1rem;
   transition: all 0.3s ease-in-out;
}
.image:hover{
    filter: brightness(50%); 
    transform: scale(1.1);
}
.section2{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: #02101d;
    align-items: center;
}

.section2 h1{
    font-size: 3rem;
}

.footer{
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    align-items: center;
}

li{
   list-style: none;
}
.gauche p:first-of-type{
    color: violet;
}
.section2 button {
    background-color: #160225;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid violet;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}
.section2 button:hover {
    color: #160225;
    background-color: violet;
    border: 1px solid violet;
}
.droite {
    width: 50%;
    display: flex;
    justify-content: center;
        align-items: start;
}

.footer div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footermaman li:first-of-type {
    color: violet;
    font-weight: bold;
}

@media (max-width: 900px) {

    .section1, .section2 {
        flex-direction: column;
        text-align: center;
    }
    .images,.divdroite img, .droite img {
        scale: 0.7;
    }

    .divgauche, .divdroite {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    .divdroite img {
        width: 100%; 
        max-width: 400px;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        gap: 100px;
    }
    .navbar ul {
        display: none;
    }
    .burger {
        scale: 1.5;
        color: white;
        display: block;
        background: none;
        cursor: pointer;
        border: none;
        position: fixed;
        left: 20px;
        z-index: 1000;
    }

    .menu {
        display: none; 
    }
    
    .menu.active {
        display: flex; 
        position: fixed;
        top: 20px;
        left: 0;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.8);
        flex-direction: column;
        padding: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;  
        border: white 1px solid;
    }
}
/* Pages connexion et inscription */
.section-connexion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.connexion{
    width: 400px;
    border: 1px solid white;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}
.connexion h1  {
    display: flex;
    color: violet;
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 0;
    justify-content: center;
}
.connexion form {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.connexion label{
    padding-bottom: 10px;
}
.connexion input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    width: 200px;
}
.connexion button{
    background-color: #160225;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid violet;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}
.connexion p a {
    color: violet;
}
.connexion button:hover {
    color: #160225;
    background-color: violet;
    border: 1px solid violet;
}
@media (max-width: 900px) {
    .section-connexion {
    height: 70vh;
    }
    .connexion {
    width: 300px;
    }
}


/*Page des jeux*/

.games {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 40px;
}
.games img {
    width: 100px;

}