.inputStyle1 {
    background: aliceblue;
    border: none;
}
.inputStyle2 {
    background: lightblue;
    border-color: grey;
    border-width: 1px;
    border-radius: 4px;
    margin-top: 20px;
  }
  .textStyle {
font-family: Arial;
  }